################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Behavsoft/bin/Debug
/Behavsoft/obj
/.vs/Behavsoft/v16
/.vs
/Behavsoft/bin/Release
